<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95956413617-lcie2ht11tgbamell9al5cj7c3ofj2p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95956413617-lcie2ht11tgbamell9al5cj7c3ofj2p1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95956413617-4i4a0q0d0s2jclstqs5t8s72jghk79g1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCiaIgZEMAbWdKWKNSV6d1mIaK10qKR6nk</string>
	<key>GCM_SENDER_ID</key>
	<string>95956413617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erhacorpdotcom.homerental</string>
	<key>PROJECT_ID</key>
	<string>homerental-6e426</string>
	<key>STORAGE_BUCKET</key>
	<string>homerental-6e426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95956413617:ios:eff8f5dde19fcc82ff0690</string>
</dict>
</plist>